/* --------------------------------------------------------------------
GHOST-LINK CORE VARIABLES
Define these at the :root level so they are accessible globally
-----------------------------------------------------------------------*/

:root {
  --bg-noir: #0a0a0c; /* Deep midnight base*/
  --bg-accent: #16161e; /* Lighter grey for headers/ elevated surfaces */
  --neon-cyan: #00fff2; /* The electric accent color */
  --text-main: #c0caf5; /* The soft white for readability */
  --font-main: "JetBrains Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: var(--font-main);
  color: var(--text-main);
}

/* Terminal Shell -- using grid to divide window into 3 distinct rows */
#terminal-window {
  width: 800px;
  height: 500px;
  background-color: rgba(10, 10, 10, 0.9);
  border: 1px solid #00ffcc;
  box-shadow: 0 0px 20px rgba(0, 256, 204, 0.2);
  display: grid;
  /* Grid template rows
    - 35 px for the header
    - '1fr' (one fraction) for the body (takes all available space)
    - 40px for the prompt/footer */
  grid-template-rows: 35px 1fr 40px;
  overflow: hidden;
  border-radius: 8px;
}

/* THe header (Grid Row 1) */
.terminal-header {
  background-color: var(--bg-accent);
  display: flex;
  align-items: center;
  padding: 0px 15px;
  border-bottom: 1px solid #222;
  justify-content: space-between;
}

/* The Terminal Body */
#terminal-body {
  padding: 20px;
  overflow-y: auto;
  line-height: 1.5;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.red {
  background-color: rgb(252, 3, 19);
}

.yellow {
  background-color: rgb(252, 186, 3);
}

.green {
  background-color: rgb(3, 252, 44);
}

.line {
  margin-bottom: 5px;
}

/* The Prompt Line */
.terminal-prompt {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: var(--bg-noir);
  border-top: 1px solid var(--bg-accent);
  color: var(--neon-cyan); /* Prompt symbol should glow */
  caret-color: var(--neon-cyan);
}

.symbol {
  color: var(--neon-cyan);
  text-shadow: 0 0 8px var(--neon-cyan);
  margin-right: 10px;
  font-family: var(--font-main);
}
/* The input field styling */
#terminal-input {
  background: transparent;
  border: none;
  outline: none; /* Remove the default blue focus ring */
  color: var(--text-main);
  font-family: var(--font-main);
  font-size: 1rem;
  flex-grow: 1;
  text-shadow: 0 0 2px var(--neon-cyan);
}
